extends layout

block content
  .assets
    each asset in assets
      - var hash = asset.hash
      - var name = asset.name
      - var type = asset.type
      .js-asset.asset.l-container(id='asset-'+ hash, data-asset-hash=hash, data-asset-type=type)
        h2.asset__name
          span.asset__type
          = name
          a.asset__linkto(href='#' + hash) ¶
          span(title='Evolution over time', class='trend js-trend js-trend-' + hash)
            span.js-trend-sign =
            span.js-trend-value
        .js-asset-chart.asset__chart(id='js-asset-chart-'+ hash)
