extends layout

block content
  h1= title
  div(id='container')

  script.
    $(function () {
      $.each(["test/fixtures/main.css", "test/fixtures/main2.css"], function(index, asset) {
        $('#container').append('<div id="highcharts-' + CryptoJS.MD5(asset) + '" />');
        $.getJSON('/metrics/stylesheets/' + CryptoJS.MD5(asset), function (series) {
          $('#highcharts-' + CryptoJS.MD5(asset)).highcharts({
              chart: {
                  type: 'spline'
              },
              title: {
                  text: asset
              },
              xAxis: {
                  type: 'datetime',
                  dateTimeLabelFormats: { // don't display the dummy year
                      month: '%e. %b',
                      year: '%b'
                  },
                  title: {
                      text: 'Date'
                  }
              },
              yAxis: [{
                  title: {
                    enabled: false
                  },
                  min: 0
              },{
                  title: {
                    enabled: false
                  },
                  opposite: true,
                  min: 0
              }],
              plotOptions: {
                  spline: {
                      lineWidth: 4,
                      states: {
                          hover: {
                              lineWidth: 5
                          }
                      },
                      pointInterval: 3600000, // one hour
                  }
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              tooltip: {
                  headerFormat: '<b>{series.name}</b><br>',
                  pointFormat: '{point.x:%e. %b}: {point.y:.2f}'
              },

              series: series
          });
        });
      });
    });
