extends layout

block content
  .assets
    each stylesheet in stylesheets
      - var hash = stylesheet.hash
      - var name = stylesheet.name
      .js-asset.asset.l-container(id='asset-'+ hash, data-asset-hash=hash, data-asset-category="stylesheet")
        h2.asset__name
          span.asset__category
          = name
          a.asset__linkto(href='#' + hash) ¶
          span(title='Evolution over time', class='trend js-trend js-trend-' + hash)
            span.js-trend-sign =
            span.js-trend-value
        .js-asset-chart.asset__chart(id='js-asset-chart-'+ hash)
