doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.l-header
      .l-container
        h1
          a(href='/') moniteur
    block content
    footer.l-footer
      .l-container
        a(href='http://git.io/moniteur') Contribute on GitHub
        a(href='https://github.com/kaelig/moniteur/issues') Feedback
        a(href='/assets') Current settings
        a(href='/welcome') How-to
    script(src='/jquery/dist/jquery.slim.min.js')
    script(src='/js/app.js')
