doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.l-header
      .l-container
        h1
          a(href='/') moniteur
    block content
    footer.l-footer
      .l-container
        a(href='http://git.io/moniteur') Fork on GitHub
        a(href='https://github.com/kaelig/moniteur/issues') Report an issue
        a(href='/support') FAQ
        a(href='/welcome') Welcome screen
        a(href='/settings') Current settings
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://code.highcharts.com/5/highcharts.js')
    script(src='/js/app.js')
