doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/md5.js')
    script(src='/javascripts/pretty-bytes.js')
    script(src='/javascripts/jquery/jquery-2.1.1.min.js')
    script(src='/javascripts/highcharts/highcharts.js')
    script(src='/javascripts/assets-graph-theme.js')
    script(src='/javascripts/highcharts/modules/exporting.js')
    script(src='/javascripts/render.js')
  body
    block content
