doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    footer
      a(href='http://git.io/moniteur') Contribute on GitHub
      a(href='https://github.com/kaelig/moniteur/issues') Feedback