doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/javascripts/highcharts/highcharts.js')
    script(src='/javascripts/assets-graph-theme.js')
    script(src='/javascripts/highcharts/modules/exporting.js')
  body
    block content
