extends layout

block content
  .l-content
    .l-container
      p The following assets are loaded:
      table.table
        thead
          tr
            th Asset
            th Resource(s)
        tbody
          each asset in assets
            tr
              th=asset.name
              td
                - var resources = asset.resources.map(r => `<a href="${r}" target="_blank">${r}</a>`).join('<br />');
                !=resources
      h2 Scheduling data recordings
      p TODO
