extends layout

block content
  .l-content
    .l-container
      p Welcome to moniteur! You’re almost there…
      h2 1. Scheduling data recordings
      img(src='docs/welcome-process/welcome-process.001.png')
      img(src='docs/welcome-process/welcome-process.002.png')
      img(src='docs/welcome-process/welcome-process.003.png')
      img(src='docs/welcome-process/welcome-process.004.png')
      img(src='docs/welcome-process/welcome-process.005.png')

      h2 2. See what assets are being monitored
      p
        a(href='/assets') List of assets
      p Come back tomorrow to check out the graphs!
      p Can’t wait that long? You can force the graph generation by executing this using the #[a(href="https://toolbelt.heroku.com/") Heroku toolbelt]:

      pre.code
        code.user-select heroku run record -a moniteur
