html {
  margin: 0;
  background: #2a2a2b;
  color: white;
  font-family: Arial, sans-serif;
}
body {
  margin: 0;
}

img {
  max-width: 100%;
}

.l-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1400px;
}

a {
  color: #ddd;
}
a:hover,
a:focus {
  text-decoration: none;
}

.asset__linkto {
  text-decoration: none;
  opacity: 0;
  transition: opacity .1s 0;
  padding: .3em;
}
.asset__linkto:hover,
.asset__linkto:focus {
  opacity: .6 !important;
}
.asset__name:hover .asset__linkto {
  opacity: .3;
}

.l-header,
.l-footer {
  background: rgba(0, 0, 0, .3);
}
.l-header,
.l-footer,
.l-content {
  margin: 0;
  padding: 1rem 2rem;
}
h1 {
  margin: 0;
}
h1 a {
  text-decoration: none;
}
h1 a:hover,
h1 a:focus {
  text-decoration: underline;
}

.asset {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: .5rem solid rgba(0, 0, 0, .1);
}
@media (min-width: 600px) {
  .asset {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.asset:first-child {
  border-top: 0;
}
.asset__name {
  font-size: 2em;
  margin-left: 1.33em;
}
.asset__type {
  position: relative;
}
.asset__type::before {
  content: '{}';
  display: inline;
  position: absolute;
  top: -.7em;
  display: inline-block;
  left: -.5em;
  letter-spacing: .15em;
  font-weight: bolder;
  font-size: 2.5em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  opacity: .07;
}
[data-asset-type=js] .asset__type::before {
  content: '❮❯';
}

.asset__chart {
  min-height: 400px;
  width: 100%;
}

.l-footer a {
  margin-right: 1.5em;
}

.trend {
  float: right;
  margin-right: 1em;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: .3em;
  background: rgba(255, 255, 255, .1);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.trend--down {
  background: #399914;
}
.trend--up {
  background: #99222F;
}

.table {
  text-align: left;
}
.table th,
.table td {
  padding: .5em 1em;
  vertical-align: top;
}

.table tbody th,
.table tbody td {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
